{% extends 'base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <div {{ react_component('Reservation/Reservation' , {'reservations': reservations_json }) }}></div>
{% endblock %}
