.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: 50px;
    filter: var(--filter-shadow);
}

.menu-header ul {
    list-style-type: none;
    margin: 0;
}

.menu-header li {
    display: inline-grid;
    width: 15vw;
}

.menu-header li:first-child {
    margin-inline: 2em;
}

.menu-header li a {
    font-size: var(--medium-font-size);
    font-weight: 200;
    justify-self: center;
    text-wrap: nowrap;
}

.menu-header li a:hover {
    font-weight: 500;
}

@media (max-width: 768px) {
    .logo{
        height: 60px;
    }

    .menu-header ul {
        display: flex;
        flex-direction: column;
    }
    
    .menu-header li {
        width: auto;
    }

    .menu-header li:first-child {
        margin-inline: 0;
    }
    
    .menu-header li a {
        font-size: var(--small-font-size);
        font-weight: 200;
        justify-self: right;
        text-wrap: wrap;
    }

}