.reservation-details {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    width: fit-content;
}

.reservation-details p {
    margin: 5px 0;
}

.reservation-details hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.dialog-content {
    max-height: 400px;
    overflow-y: auto;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}