.img_header {
    position: relative;
    height: 20vw;
    overflow: hidden;
}

.img_header img {
    height: calc(100% + 100px);
    object-fit: cover;
    position: absolute;
    top: -25vh;
}

.main_img {
    width: 100vw;
    max-height: fit-content;
}

.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage {
    width: 20vw;
    margin: auto;
}

.home-section > h2 {
    padding-top: 0;
    margin-top: -5%
}

.description {
    display: inline-flex;
    margin-inline: 5vw;
    margin-bottom: 5vh;
    align-items: center;
}

.img_box {
    width: 50%;
}

.section_img {
    height: 20vw;
    margin-inline: 5vw;
    filter: var(--filter-shadow);
}

.home-description {
    height: 20vw;
    margin-inline: 5vw;
    margin-bottom: 0;
    overflow: scroll;
    text-align: justify;
    align-content: center;
}

.home-cards {
    border-radius: initial;
    border: none;
    display: flex;
    margin: 5vw;
    justify-content: space-around;
}

@media (max-width: 768px) {

    .home-cards {
        flex-direction: column;   
    }

    .img_header {
        height: 40vw;
    }
    
    .img_header img {
        top: -5vh;
        object-fit: unset;
    }
    
    .main_img {
        width: 100vw;
        max-height: fit-content;
    }
    
    .home-section {
        margin-top: 5vh;
    }
    
    .description {
        display: flex;
        flex-direction: column;
        margin: unset;
        margin-top: 5vw;
    }
    
    .section_img {
        height: 50vw;
    }
    
    .home-description {
        height: fit-content;
        margin-top: 5vh;
    }

}