.img_header {
    position: relative;
    height: 40vw;
    overflow: hidden;
    top: -150px;
    z-index: -1;
}

.main_img {
    width: 100vw;
    max-height: fit-content;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section > h2 {
    padding-top: 0;
    margin-top: -5%
}

.description {
    display: inline-flex;
    margin-inline: 5vw;
    margin-bottom: 5vh;
    align-items: center;
}

.img_box {
    width: 50%;
}

.section_img {
    height: 20vw;
    margin-inline: 5vw;
    filter: var(--filter-shadow);
}

.p_description {
    height: 20vw;
    margin-inline: 5vw;
    margin-bottom: 0;
    overflow: scroll;
    text-align: justify;
    align-content: center;
}

.home-cards {
    border-radius: initial;
    border: none;
    width: 90vw;
    display: flex;
    margin: 5vw;
    align-items: center;
    justify-content: space-around;
}