.about_card {
    display: flex;
    flex-direction: row;
    height: 22vh;
    margin: 5vh;
    margin-inline: 15vh;
}

.about-card-img {
    height: 100%;
    width: 30%;
}

.about-card-body {
    padding: 3vh;
}

.about-card-text {
    margin-bottom: 0;
}

.about-card-btn {
    justify-self: flex-end;
    align-self: baseline;
}